//- html
//-     head
//-         title= "THIS THAT ERROR PAGE"
//-     body
//-         h1= "PUG ERROR PAGE"
//-         br
//-         p= err.status
//-         p= err.message 
//-         p= err.stack

//- extends layout.pug
//- block content

//- //- <!DOCTYPE html>
//- //- <html>

//- //- <head>
//- //-     <title>Page Not Found</title>
//- //-     <link rel="stylesheet" href="../public/stylesheets/style.css">
//- //- </head>

//- <body>
//-     <h1>Server Error</h1>
//-     <p>Sorry! There was an unexpected error on the server.</p>
//- </body>

//- //- </html>